#main-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: calc(100vh);
}

#content,
#footer {
    padding: 20px;
    background: #666;
    color: white;
}

#content {
    display: flex;
    flex-grow: 1;
    background: honeydew;
}