    #header {
        width: 100%;
        height: 200px;
    }
    
    #content {
        display: -webkit-flex;
        -webkit-flex-flow: row;
        width: 100%;
        height: 60%;
    }
    
    #content #left-sidebar {
        width: 200px;
        height: 300px;
    }
    
    #content #right-sidebar {
        width: 200px;
        height: 300px;
    }
    
    #content #main-content {
        -webkit-flex: 1;
        height: 60%;
    }
    
    #footer {
        width: 100%;
        height: 100px;
    }