<md-card class="device-card">
    <md-card-title-group>
        <md-card-title>{{device.$key}}</md-card-title>
        <md-card-subtitle>{{device.deviceMetadata.types}}</md-card-subtitle>
        <div [ngSwitch]="device.deviceMetadata.types">
            <img md-card-sm-image *ngSwitchCase="'TEMP/HUM'" src="../assets/images/temp-sensor.png">

            <div *ngSwitchCase="'PIR'">
                <img md-card-sm-image *ngIf="device.properties.state" src="../assets/images/alert-on.png">
                <img md-card-sm-image *ngIf="!device.properties.state" src="../assets/images/alert-off.jpg">
            </div>

            <div *ngSwitchCase="'LED'">
                <img md-card-sm-image *ngIf="device.properties.state" src="../assets/images/light-bulb-icon.png">
                <img md-card-sm-image *ngIf="!device.properties.state" src="../assets/images/bulb-off-icon-14.jpg">
            </div>
        </div>
    </md-card-title-group>
    <md-card-content>
        <p *ngIf="device.properties.temp">Temp: {{ device.properties.temp}}*C</p>
        <p *ngIf="device.properties.temp">Hum: {{ device.properties.humidity}}%</p>
        <a *ngIf="device.properties.temp" md-raised-button routerLink="statistics">Raised button</a>
        <div *ngIf="device.deviceMetadata.types=='PIR'">
            <p>Status: {{ device.properties.state==false ? 'Nobody is here' : 'Someone is here'}}</p>
        </div>
        <!--<div *ngIf="device.deviceMetadata.types=='LED'">
            <p>Status: {{ device.properties.state==0 ? 'OFF' : 'ON'}}</p>
        </div>-->
        <div *ngIf="device.deviceMetadata.types=='LED'">
            <!--<md-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled" (click)='onActuatorEvent(device, device.properties.state === 0 ? 1 : 0)'>
                Status: {{ device.properties.state==0 ? 'OFF' : 'ON'}}
            </md-slide-toggle>-->
            <button md-raised-button (click)='onActuatorEvent(device, device.properties.state === 0 ? 1 : 0)'>{{device.properties.state === 0 ? "OFF" : "ON"}}</button>
        </div>
        <!--<p *ngIf="!device.properties.state">Sensor type</p>-->
    </md-card-content>
    <md-card-actions style="display: flex;   justify-content: space-between;">
        <!--<div class="card-footer">-->
        {{ device.properties.time | date:'y MMMd H:mm'}}
        <!--</div>-->

        <!--<button md-mini-fab color="accent" [class.on]="device.properties.state === 0" (click)='onActuatorEvent(device, device.properties.state === 0 ? 1 : 0)'>
                <md-icon>send</md-icon>
            </button>-->



    </md-card-actions>
</md-card>