<div class="app-content">
    <md-card *ngFor="let device of devices | async" class="device-card">
        <md-card-title-group>
            <md-card-title>{{device.$key}}</md-card-title>
            <md-card-subtitle>Sensor</md-card-subtitle>
            <img md-card-sm-image src="../assets/images/temp-sensor.png">
        </md-card-title-group>

        <md-card-content>
            <p>{{ device.properties.time}}</p>
            <p *ngIf="device.properties.temp">Temp: {{ device.properties.temp}}</p>
        </md-card-content>

        <button md-mini-fab color="accent">
                <md-icon>send</md-icon>
        </button>

    </md-card>
</div>