<div class="device-layout">
    <md-card *ngFor="let device of devices | async" class="device-card">
        <md-card-title-group>
            <md-card-title>{{device.$key}}</md-card-title>
            <md-card-subtitle>Sensor</md-card-subtitle>
            <div [ngSwitch]="device.deviceMetadata.types">
                <img md-card-sm-image *ngSwitchCase="'TEMP/HUM'" src="../assets/images/temp-sensor.png">
                <img md-card-sm-image *ngSwitchCase="'LED'" src="../assets/images/light-bulb-icon.png">
                <img md-card-sm-image *ngSwitchCase="'PIR'" src="../assets/images/alert-on.png">
            </div>
        </md-card-title-group>

        <md-card-content>

            <p *ngIf="device.properties.temp">Temp: {{ device.properties.temp}}</p>
        </md-card-content>



        <md-card-actions>
            <!--<div class="card-footer">-->
            {{ device.properties.time | date}}
            <!--</div>-->
            <button md-mini-fab color="accent">
                <md-icon>send</md-icon>
            </button>
        </md-card-actions>

    </md-card>
</div>