.device-card {
    width: 200px;
    /**/
    margin: 5px;
}

.device-layout {
    display: flex;
    flex-wrap: wrap;
}

.card-footer {
    font-size: 8px;
}

.on {
    background-color: #CFD8DC;
    color: white;
}